<div class="relative w-full max-w-5xl mx-auto px-6 py-20">

  <!-- Header -->
  <h2 class="text-5xl font-semibold text-gray-100 mb-12 text-center drop-shadow-lg">
      About Me
  </h2>

  <!-- Text section -->
  <p class="text-center text-xl text-gray-200 leading-relaxed">
      My name is <strong class="text-white">Johan Modin</strong>, I am an embedded developer student passionate about skiing,
      food, and exercising.
      I am learning how embedded systems shape the modern world, and I aim to contribute to a better tomorrow
      <strong class="text-white">through technology</strong>.
      <br><br>
      The color theme of this site revolves around <span class="font-bold text-blue-300">blue</span> and
      <span class="font-bold text-orange-300">orange</span> and comes from my childhood experience playing RollerCoaster Tycoon 2, where all my rollercoasters had
      that color scheme.
    </p>

  <!-- Divider -->
  <div class="max-w-5xl mx-auto mt-20 mb-14 flex items-center gap-4">
      <div class="flex-grow h-px bg-gray-400"></div>
      <p class="text-gray-200 text-sm whitespace-nowrap">
          Technologies I am familiar with
      </p>
      <div class="flex-grow h-px bg-gray-400"></div>
  </div>

  <!-- Tech Icons -->
  {% include "website/about/tech_icons/tech_icons.html" %}

</div>

<!-- Accent Circle -->
<div class="absolute top-0 right-0 w-48 h-48 bg-orange-200 rounded-full opacity-20 -translate-x-16 -translate-y-16"></div>