<section class="bg-[#FFF9F0] w-full max-w-full mx-auto px-6 sm:px-12 md:px-24 lg:px-32 py-48 border-t-2 border-orange-400 relative">
    
    <div class="relative z-10 max-w-5xl mx-auto">
        <h2 class="text-5xl font-semibold text-gray-600 mb-12 text-center">About Me</h2>
        <p class="text-center text-2xl text-gray-500 leading-relaxed">
            My name is <strong>Johan Modin</strong>, an embedded developer student that is most passionate about skiing (on-piste ofc), food and
            exercising.
            I am today learning about how embedded systems shape the modern world 
            and my aim is to help create a better tomorrow for everybody, <strong>through technology</strong>.

            The reason I picked these colors for my webpage design is because when I was little 
            and playing Rollercoaster Tycoon 2, all my rollercoaster had 
            <strong>blue</strong> and <strong>orange</strong> design.
            And that is how they becamse my two favourite colors.
        </p>
    </div>

    <div class="max-w-5xl mx-auto mt-20 mb-14 flex items-center gap-4">
    <div class="flex-grow h-px bg-gray-300"></div>
    <p class="text-gray-500 text-sm whitespace-nowrap">
        Technologies I am familiar with
    </p>
    <div class="flex-grow h-px bg-gray-300"></div>
</div>
        {% include "website/sections/tech_icons/tech_icons.html" %}

    <!-- Optional subtle accent circle for depth -->
    <div class="absolute top-0 right-0 w-48 h-48 bg-orange-100 rounded-full opacity-30 -translate-x-16 -translate-y-16"></div>
</section>